/*universal*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

textarea{
    background: rgba(255,255,255,0.5);
    outline-style: none;
    width: 90%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
   
}

div.input input{
    background: rgba(255,255,255,0.5);
    border-width: 0.7px;
    width: 100%;
    border-color:  grey;
    border-radius: 5px;
    padding: 3px;

}

span{
    color: red ;
}

/*end*/

/*main*/


body.page1 {
    background-image: url("../images/UniPostCover--University-of-Aberdeen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.page1 h1{
    background-color:white;
    padding: 20px;
    top: 0px;
    height: 70px;
    width: 100%;
    position:fixed;
    color: white;
    
}

header img.smallimg{
    position: fixed;
    top: 20%;
    border-radius: 30px;
    width: 270px;
    left: 10%;
}
.ListCon{
    padding: 20px;
    
}
.topList h2{
    margin: 8px;
    margin-bottom: -10px;
    text-align: center;
}

.topList{
    color: black;
    
}
.rb{
    margin-top: -12px;
    padding: 0px;
    width: 50px;
    margin-left: 25px;
}

.page1 nav{
    background-color: white;
    position: fixed;
    top: 20%;
    right: 10%;
    width: 500px;
    height: 250px;
    border-radius: 5px;
    padding: 10px 15px 10px 10px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
    max-height: 680px;
}
nav ul{
    list-style-type: none;
}
div.Content li {
    border-radius: 2px;
    background-color: rgb(17, 17, 80);
    margin: 5px;
    padding: 7px

}
nav li a{
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    color: white;
    
   
}

.admin {
    background-color: white;
    width: 10px;
    color: black;
    position: fixed;
    top: 75%;
    right: 10%;
    width: 500px;
    height: 100px;
    border-radius: 5px;
    padding: 10px 15px 10px 10px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
    max-height: 680px;
}

div.admin li {
    border-radius: 2px;
    background-color: rgb(17, 17, 80);
    margin: 5px;
    padding: 7px;
    list-style: none;
    
}

div.admin li a{
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    color: white;
}

div.admin h2{
    text-align: center;
}

/* For screens with a width less than or equal to 990px */
@media only screen and (max-width: 990px) {
    /* Hide the small image */
    header img.smallimg {
      display: none;
    }
  
    /* Center the navigation bar */
    .page1 nav {
      left: 50%;
      transform: translateX(-50%);
      width: 90%; /* Adjust width as needed */
      max-width: 500px; /* Limit the maximum width */
    }
  
    /* Center the admin section */
    .admin {
      left: 50%;
      transform: translateX(-50%);
      width: 90%; /* Adjust width as needed */
      max-width: 500px; /* Limit the maximum width */
    }
  }
  

/*end*/

/*Iform */
body.IFORM {
    background-image: url("../images/formB2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container-IFORM {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    width: 560px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-container-IFORM header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.fields-IFORM {
    display: flex;
    flex-wrap: wrap;
}

.input-IFORM {
    flex: 1;
    padding-right: 20px;
}

.input-IFORM label {
    display: block;
   
}

.input-IFORM input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: -15px; 
    padding:15px;
    height: 40px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.submit-IFORM {
    text-align: center;
}

.submit-IFORM input[type="submit"],
.submit-IFORM button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5x;
    transition: border-color 0.3s, box-shadow 0.3s; /* Adjust this value for spacing */
}

/*end*/

/*form2*/
body.SFORM {
    background-image: url("../images/formB2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    width: 560px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-container header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    padding-right: 20px;
}

.input label {
    display: block;
    margin-bottom: 0px;
}

.input input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: -5px;
}

.submit {
    text-align: center;
}

.submit input[type="submit"],
.submit button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5x;
    transition: border-color 0.3s, box-shadow 0.3s; /* Adjust this value for spacing */
}

/*admin page*/
.page3{
    background-image: url("../images/UniPostCover--University-of-Aberdeen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

 
.page3 h1{
    background-color:white;
    padding: 20px;
    top: 0px;
    height: 70px;
    width: 100%;
    position:fixed;
    color: white;
    
}
.rb2{
    margin-top: -12px;
    padding: 0px;
    width: 50px;
    margin-left: 25px;
}
.page3 nav {
    background-color: white;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 500px;
    height: 230px;
    border-radius: 5px;
    padding: 10px 10px 10px 5px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.Aheader h2{
    text-align: center;
}

.Aheader li { 
    text-decoration: none;
}


div.Content button {
    display: block;
    border: none;
    border-radius: 2px;
    background-color: rgb(17, 17, 80);
    margin: 5px;
    padding: 7px;
    font-weight: 500;
    width: 97.8%;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

/*end*/


/*pseudo elements  main page*/

div.admin button:hover {
    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: underline;
}

.admin li a:hover{
    text-decoration: underline;
}
/*pseudo elements IFORM */
textarea::-webkit-scrollbar{
    width: 0px;
}

textarea:is(:focus){
    border-width: 1.5px;
}

input:is(:focus, :valid){
    border-width: none;
}

div.admin button:hover {
    background-color: rgb(0, 0, 128);
}

.submit-IFORM input[type="submit"]:hover,
.submit-IFORM button:hover {
    background-color: #0056b3;
}

.input-IFORM input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #000; /* Black border color */
    box-shadow: 0 0 0 3px rgba(128, 189, 255, 0.3); /* Light blue low-opacity border */
}

/* SFORM*/

.submit input[type="submit"]:hover,
.submit button:hover {
    background-color: #0056b3;
}

.input input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #000; /* Black border color */
    box-shadow: 0 0 0 3px rgba(128, 189, 255, 0.3); /* Light blue low-opacity border */
}


/*end*/

