{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Student Internship Form</title>
  </head>
  <body class="IFORM">
    <div class="form-container-IFORM">
      <header>University of Aberdeen: Work-based Placements/Learning</header>

      <div class="top-IFORM">
        <p>
          The survey will take approximately 9 minutes to complete. Many thanks
          for your interest in hosting a Work-based Placement or Work-Based
          Learning Experience for our Masters students in 2024. Please complete
          the form below for each placement opportunity to enable us to take
          plans forward and identify student matches. Thank you in advance and
          we look forward to supporting your organization.
        </p>
      </div>
      <br>
      <form method="post" action="{% url 'submit-internship' %}">
        {% csrf_token %}
        <div class="fields-IFORM">
          <div class="input-IFORM">
            <label for="Title">Title<span>*</span></label>
            <input
              type="text"
              name="Title"
              id="Title"
              placeholder="Enter title"
              required
            />
            <br /><br />
            <label for="Company">Company<span>*</span></label>
            <input
              type="text"
              name="Company"
              id="Company"
              placeholder="Enter company"
              required
            />
            <br /><br />
            <label for="Field">Field<span>*</span></label>
            <input
              type="text"
              name="Field"
              id="Field"
              placeholder="Enter field"
              required
            />
            <br /><br />
            <label for="MinScore">Minimum Score<span>*</span></label>
            <input
              type="number"
              name="MinScore"
              id="MinScore"
              placeholder="Enter minimum score"
              required
            />
            <br /><br />
            <label for="Positions">Positions<span>*</span></label>
            <input
              type="number"
              name="Positions"
              id="Positions"
              placeholder="Enter positions"
              required
            />
          </div>
        </div>
        <br>
        <div class="submit-IFORM">
          <input type="submit" value="Complete application" id="submit" />
          <button onclick="goBack()">Return</button>
        </div>
      </form>
    </div>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
