{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Student Internship Form</title>
</head>
<body class="SFORM">
    <div class="form-container">
        <header>Student Internship Application</header>
        <form method="post" action="{% url 'submit-student' %}">
            {% csrf_token %}
            <div class="fields">
                <div class="input">
                    <label for="Fullname">Fullname<span>*</span></label>
                    <input type="text" name="Fullname" id="Fullname" placeholder="Enter your answer" required />
                    <br /><br />
                    <label for="Course">Course<span>*</span></label>
                    <input type="text" name="Course" id="Course" placeholder="Enter your answer" required />
                    <br /><br />
                    <label for="Score">Score<span>*</span></label>
                    <input type="number" name="Score" id="Score" placeholder="Enter your answer" required />
                    <br /><br />
                    <label for="Experience">Experience<span>*</span></label>
                    <input type="text" name="Experience" id="Experience" placeholder="Enter your answer" required />
                    <br /><br />
                    <label for="StudyMode">Study Mode<span>*</span></label>
                    <input type="text" name="StudyMode" id="StudyMode" placeholder="Enter your answer" required />
                    <br /><br />
                    <label for="StudyPattern">Study Pattern<span>*</span></label>
                    <input type="text" name="StudyPattern" id="StudyPattern" placeholder="Enter your answer" required />
                </div>
            </div>
            <br>
            <div class="submit">
                <input type="submit" value="Complete application" id="submit" />
                <button onclick="goBack()">Return</button>
            </div>
        </form>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
