{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>University of Aberdeen Placement</title>
  </head>
  <body class="page3">
    <header>
      <h1>
        <a href="{% url 'homepage' %}">
          <img
            class="rb2"
            src="{% static 'images/return-button.jpg' %}"
            alt="return button"
          />
        </a>
      </h1>
    </header>
    <nav>
      <ul>
        <div class="Content">
          <div class="Aheader">
            <h2>Control panel</h2>
          </div>
          <li><a href="{% url 'clean-data' %}">Process data</a></li>
          <form action="{% url 'matching' %}" method="post">
            {% csrf_token %}
            <button type="submit">Match</button>
          </form>

          <form action="{% url 'run_matching_algorithm' %}" method="post">
            {% csrf_token %}
            <button type="submit">Run Matching Algorithm</button>
          </form>
          <form action="{% url 'dashboard' %}" method="get">
            <button type="submit" class="btn btn-primary">Go to Dashboard</button>
          </form>
        
        </div>
      </ul>
    </nav>
  </body>
</html>
